body{
    background-color: var(--background-color);
}
:root{
    --main-color: #2974e4;
    --second-color: #243aa0;
    --text-color: #444;
    --gradient: linear-gradient(#2974e4,#1b308f);
    --background-color: #eeeff1;
}
#home{
    width:100%;
    min-height: 80vh;
    position: relative;
    display:flex;
    top:175px;
    
}
#app-text-container{
    width:90rem;
    min-width:25rem;
    height:60rem;
    padding: auto;
}
#app-text-container h1{
    font-size: 5vh;
    letter-spacing: 2px;
}
#app-text-container span{
    color:var(--main-color);
}
#app-main-text{
    text-align: left;
    margin:auto;
    padding:10vh;
    position: relative;
    min-width:5rem;
    min-height:20rem;
    top:5rem;
}
#image{
    float:left;
    width:100vh;
    height: 45rem;
    min-width:5vh;
    max-width: 100vh;
    background: url(../Images/RentoroHome.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
#form-container form{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: 24rem;
    left: 100px;
    padding: 20px;
    border-radius: 0.5rem;
    background-color: #fff;
}
#form-container #btn{
    flex: 1 1 7rem;
    padding: 10px 34px;
    border: none;
    border-radius: 0.5rem;
    background: var(--second-color);
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}
#form-container #btn:hover{
    background: var(--main-color);
}
.input-box{
    flex: 1 1 7rem;
    display: flex;
    flex-direction: column;
}
.input-box span{
    font-weight: 500;
}
.input-box input{
    padding: 7px;
    outline: none;
    border: none;
    background: var(--background-color);
    border-radius: 0.5rem;
    font-size: 1rem;
}
/*Ride seciton*/
#howToRent{
    width: 100%;
    background: #fff;
    padding-top: 2rem;
}
#heading{
    text-align: center;
}
#heading span{
    font-weight: 500;
    text-transform: uppercase;
}
#heading h1{
    font-size:2rem;
}
#howToRent-container{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    gap: 1rem;
    margin-top: 2rem;
}
#howToRent-container .box{
    text-align: center;
    padding: 20px;
}
#howToRent-container .box .bx{
    font-size:34px;
    padding: 10px;
    background: var(--background-color);
    border-radius: 0.5rem;
    color: var(--main-color);
}
#howToRent-container .box h2{
    font-size: 1.3rem;
    font-weight: 500;
    margin: 1.4rem 0 0 0.5rem;
}
#howToRent-container .box .bx:hover
{
    background: var(--gradient);
    color: #fff;
    cursor: pointer;
}
