#slider{
    text-align: center;
    width:65%;
    margin: auto;
    margin-top: 100px;
}
#slider span{
    font-weight: 500;
    text-transform: uppercase;
}
.sliderImage{
    width: 100%;
    height: auto;
}