
#home{
    width:100%;
    min-height: 89vh;
    position: relative;
    display:flex;
    top:150px;
}
#app-text-container{
    width:90rem;
    min-width:25rem;
    padding: auto;
}
#app-text-container h1{
    font-size: 4rem;
    letter-spacing: 2px;
}
#app-text-container span{
    color:#2974e4;
}
#app-main-text{
    text-align: left;
    margin:auto;
    padding:10vh;
    position: relative;
    min-width:5rem;
    min-height:35rem;
    top:5rem;
}
#image{
    float:left;
    width:100vh;
    height: 80vh;
    min-width:5vh;
    max-width: 100vh;
    background: url(Images/RentoroHome.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
